<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
News found
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<div class="news_list_title">Поиск новостей</div>
<p align="center">Всего статей на странице {{newssearch|length}}</p>
    {% if newssearch %}
        <hr>
        <form method="GET">
            <!-- Published after: <input type="date" value="2021-09-01" name="pubdate" id="pubdate"> -->
            {{ filter.form }}
            <input type="submit" value="Найти">
        </form>
        <hr>
        <table>
            <tr>
                <td>
                    <div class="table_head">Название</div>
                </td>
                <td>
                    <div class="table_head">Дата публикации</div>
                </td>
                <td>
                    <div class="table_head">Превью</div>
                </td>
            </tr>
            {% for news in filter.qs %}
               <tr>
                    <td>
                        <div class="news_title">{{news.name|Censor}}</div>
                    </td>
                    <td>
                        <div class="news_time">{{news.time_emerged|date:'d M Y H:i'}}</div>
                    </td>
                    <td>
                        <div class="news_preview">{{news.text|truncatechars:50|Censor}}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
            <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
            {% endif %}
            <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock content %}
