<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
Today's news
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<div class="news_list_title">Список новостей</div>
<p align="center">Всего статей на странице {{newslist|length}}</p>
    {% if newslist %}
        <table>
        {% load cache %} <!-- Загружаем кэширование -->
            {% cache 30 header %} <!-- Кэшируем отдельный блок на 30 секунд -->
            <tr>
                <td>
                    <div class="table_head">Название</div>
                </td>
                <td>
                    <div class="table_head">Дата публикации</div>
                </td>
                <td>
                    <div class="table_head">Превью</div>
                </td>
                <td>
                    <div class="table_head">Автор</div>
                </td>
                <td>
                    <div class="table_head">Категории</div>
                </td>
            </tr>
            {% endcache %}
            {% for news in newslist %}
               <tr>
                    <td>
                        <div class="news_title">
                            <a href="{% url 'news_detail' news.id %}">{{news.name|Censor}}</a>
                            <a href="{% url 'news_update' news.id %}"><u>edit</u></a>
                            <a href="{% url 'news_delete' news.id %}"><u>delete</u></a>
                        </div>
                    </td>
                    <td>
                        <div class="news_time">{{news.time_emerged|date:'d M Y H:i'}}</div>
                    </td>
                    <td>
                        <div class="news_preview">{{news.text|truncatechars:50|Censor}}</div>
                    </td>
                     <td>
                        <div class="news_time">
                            {% if is_authed %}
                                <a href="{% url 'author_detail' news.author_id %}">{{news.author}}</a>
                            {% else %}
                                {{news.author}}
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {% for cat in news.category.all %}
                            <div class="news_preview">{{cat.name}}</div>
                        {% endfor %}
                    </td>
                 </tr>
            {% endfor %}
        </table>
        <a href="{% url 'news_add' %}">Добавить статью</a>
        <a href="{% url 'news_search' %}">Найти статью</a> <br>
        {% if is_paginated %}
            <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
            {% endif %}
            <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock content %}
